fa {
    padding:20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color:goldenrod;
    color: white;
}

fa:hover {
    opacity: 0.7;
    transition: 300ms;
}